extends layout

block content
    h1      Advertisement List
    h2      For the Week of #{wk11) -  Issue No.# { #{iss} } - Week No. #{week} 
    div
        table.gradienttable
            thead
                tr
                    th
                        p Advertisement Type
                    th
                        p Advertiser Name
                    th
                        p Start - End
                    th
                        p OneOff
                    th
                        p Alternate
                    th
                        p Edit
            tbody
                each item in publist
                    tr
                        td
                            p #{item.addesc}    
                        td 
                            p #{item.username}   
                        td 
                            p #{item.start} TO #{item.end}    
                        td 
                            if(item.oneoff == 'on')
                                p #{item.oneoff} - #{item.oneoffdone}  - #{item.reminder}  
                        td 
                            form#myform(onsubmit="emailjs.sendForm('default_service', 'template_CrZ7QqYX', this); return false;", method='post')
                                input(type='hidden', name='email', value='ishathaker@hotmail.com')
                                input(type='hidden', name='from_name', value='Gujarat Weekly')
                                input(type='hidden', name='to_name', value='#{item.username}')
                                input(type='hidden', name='message_html')
                                button Weekly Reminder
                            if(item.reminder == 'Y')
                                form#myform1(onsubmit="emailjs.sendForm('default_service', 'template_CrZ7QqYY', this); return false;", method='post')
                                    input(type='hidden', name='email', value='ishathaker@hotmail.com')
                                    input(type='hidden', name='from_name', value='Gujarat Weekly')
                                    input(type='hidden', name='end_date', value='#{item.end}')
                                    input(type='hidden', name='to_name', value='#{item.username}')
                                    input(type='hidden', name='message_html')
                                    button Ad Expiration Reminder
                                script(type='text/javascript', src='https://cdn.emailjs.com/sdk/2.3.2/email.min.js')
                                script(type='text/javascript').
                                    (function() {
                                    emailjs.init("user_NxHm5p3WHBp3OtNnilZaM");
                                    })();
                            if(item.alternate == 'yes')
                                p   Alternate Week Ad
                        td 
                            a(href="/updad/#{item._id }")
                                button(type="button") Edit Advertiser
